
/* MAIN UNICORN COLORS */
.unicorn-danger {
	background-color: #e83322;
	color: white;
}

.unicorn-success {
	background-color: #48c960;
	color: white;
}

.unicorn-primary {
	background-color: #1d7ee0;
	color: white;
}

.unicorn-warning {
	background-color: #ffd107;
	color: black;
}

.unicorn-pink {
	background-color: #f44274;
	color: white;
}

.unicorn-purple {
	background-color: #d115d8;
	color: white;
}

.unicorn-dark {
	background-color: #172a3d;
	color: white;
}

.unicorn-light {
	background-color: #f9fcff;
	color: black;
}

.unicorn-grey {
	background-color: #e8edf2;
	color: black;
}

.unicorn-cyan {
	background-color: #42d9f4;
	color: white;
}

.unicorn-brownie {
	background-color: #5b3e35;
	color: white ;
}

.unicorn-orange {
	background-color: #f98304;
	color: white;
}

/* BUTTON STYLES */
.button {
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 1rem;
	border: 1px solid transparent;
	cursor: pointer;

}

.square {
	border-radius: 0px;
}

.rounded {
	border-radius: 20px;
}